@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

html {
  overflow: hidden;
}


@font-face {
  font-family: 'pricedown';
  src: url(pricedown.ttf);
}
#cursor {
  position: absolute;
  z-index: 99999999;
  display: none;
}

body {
  font-family:arial,sans-serif;
  font-size: 0.8vw;
  color:white;
}

.meter-container {
  position:absolute;
  position: relative;
  margin-top: 37.5%;
  margin-left:-20.3%;
  display:none;
  background-color: red;
  background-size:100% 100%;
  width:14.4%;
  height:14%;
  word-wrap: break-word;
  animation: 1s infinite alternate ease-out breathing-color--red;
}

@keyframes breathing-color--red {
  from
  {
      background-color: red;
      opacity: 90%;
  }
  to
  {
      opacity: 80%;
      background-color: rgb(30%, 0%, 0%);
  }
}

.msg {
  text-align:left;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.rodape {
  padding-left: 3.5%;
  padding-right: 3.5%;
  position: absolute;
  bottom: -7%;
}