<head>
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

	<img id="cursor" src="cursor.png">

	<div class="meter-container">
		<p class="msg"> </p>

		<p class="rodape">Enviado por: Membro da Staff</p>
	</div>

</body>
